* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    
        
}

ul {
    list-style: none;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
     
    background: url("2825704.gif"), no-repeat, center center fixed;
    background-color: #cccccc;
    background-size: cover;
        }

    .container {
        text-align: center
    }

    .container .name h1 {
        font-size: 60px;
    }

    .container .name h5 {
        font-size: 25px;
    }

    #about p {
        max-width: 600px;
        margin: 0 auto;
    }

    .form {width: 40%;
        margin: 0 auto;
    }

    .form input {
        width: 50%;
    }

    .form button {
        width: 15%;
    }